/*INÍCIO - Site*/
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 560px;
}

legend {
    text-align: center;
}
/*FIM - Site*/
/*INÍCIO - Loading*/
#container-loading {
    display: none;
    color: white !important;
    position: fixed;
    background: rgba(0,0,0,0.5);
    z-index: 100000;
    width: 100% !important;
    min-width: 100% !important;
    top: 0;
    left: 0;
    min-height: 100% !important;
}

#container-loading div#content {
    position: fixed;
    width: 100% !important;
    min-width: 100% !important;
    height: 100% !important;
    min-height: 100% !important;
}

#lblAguardeLoading {
    color: #fff;
    margin-top: 10px;
    font-size: 14px;
    text-shadow: 0 0 3px #000;
    font-weight: normal;
    margin-left: 6px;
    font-weight: bold;
    font-family: "Arial", Helvetica, Arial, sans-serif
}

.loading-icon {
    text-shadow: 0 0 3px #000;
    margin-top: 25%;
}
/*FIM - Loading*/

/*INÍCIO - Tabela Pedido*/
table tr th:nth-child(1) {
    text-align: left;
}

table tr th:nth-child(2) {
    text-align: center;
}

table tr th:nth-child(3) {
    text-align: right;
}

table tr th:nth-child(4) {
    text-align: right;
}

table tr th:nth-child(5) {
    text-align: center;
}

table tr td:nth-child(1) {
    text-align: left;
}

table tr td:nth-child(2) {
    text-align: center;
}

table tr td:nth-child(3) {
    text-align: right;
}

table tr td:nth-child(4) {
    text-align: right;
}

table tr td:nth-child(5) {
    text-align: center;
}
/*FIM - Tabela Pedido*/