<div id="container-loading" class="text-center">
    <div id="content">
        <i class="fas fa-sync fa-spin fa-3x fa-fw loading-icon"></i><br />
        <label id="lblAguardeLoading">Aguarde...</label>
    </div>
</div>